<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>추가하기</h1>

    <input id="directorName" type="text">
    <input id="directorinf" type="textarea">
    <input type="submit" onclick="addDirector()">

    <script>
        const directorNameInput = document.getElementById('directorName');
        const directorInfInput = document.getElementById('directorinf');

        async function addDirector() {
            const result = await axios.post('/addDirector', {
                directorName: directorNameInput.value,
                directorInf:
            })
        }
    </script>
</body>
</html>
