<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js" integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>
<body>
    <h1>추가하기</h1>

    <input id="directorName" type="text"><br>
    <textarea id="directorinf" cols="100" rows="10"></textarea><br>
    <input type="submit" onclick="addDirector()">

    <script>
        const directorNameInput = document.getElementById('directorName');
        const directorInfInput = document.getElementById('directorinf');
        
        async function addDirector() {
            console.log(directorName.value, directorInfInput.value);
            const result = await axios.post('/addDirector', {
                directorName: directorNameInput.value,
                directorInf: directorInfInput.value
            });
            
            window.location.href = "/";
        }
    </script>
</body>
</html>
