<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js" integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>ANA NEVER DIE</h1>
    <input type="button" value="추가하기" onClick="window.location.href='addDirector'">
    <% for(i = 0; i < Director.length; i++) { %>
    <a id="<%= Director[i]%>" onClick="getProfile(this.id);" style="cursor:pointer"><%= Director[i]%></a>
    <% } %>

    <img id="img" width="200px" height="200px">
    <div id="content">
    </div>

    <button onClick="document.getElementById('banner').src = `img/배너.jpg`;">크래딧</button>
    <img id="banner" src="#">

    <script>
        async function getProfile(id) {
            const result = await axios.get('/director', {
                params: {
                    contents: id
                }
            });
            console.log(id, String(result.data));
            document.getElementById('img').src = `img/${id}.jpg`;
            switch(id) {
                case '조재호' : document.getElementById('img').src = `img/${id}.jpg`; break;
                case '안용호' : document.getElementById('img').src = `img/${id}.jpg`; break;
                case '심영수' : document.getElementById('img').src = `img/${id}.jpg`; break;
                case '이혜찬' : document.getElementById('img').src = `img/${id}.jpg`; break;
                case '민경록' : document.getElementById('img').src = `img/${id}.jpg`; break;
                case '김형진' : document.getElementById('img').src = `img/${id}.jpg`; break;
                default : document.getElementById('img').src = `img/notFound.png`; break;
            }
            document.getElementById('content').innerHTML = String(result.data);
        }

    </script>
</body>
</html>